body{
    background-color: oldlace;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100%;
}

section{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

h1{
    font-size: 15em;
    margin: 0%;
    padding: 0%;
}

p{
    font-size: 1.5em;
}